/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tibetan:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,800&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// fonts
$font-family-sans-serif: "Noto", sans-serif !default; 

/* Change the background color of the navigation bar */
.navbar {
    background-color: #D0D7E8 !important;
}


.central h2, h3, h4 {
  text-align: center;
}

/*-- scss:rules --*/

.darkred{
  color: #DF0606;
}

.harvardred{
  color: #A51C30;
  font-weight: bold;
}


.orange{
   color:#fc7d0b;
}

.pink{
   color:#F060D6;
}

.forestgreen{
   color: rgb(0, 144, 81);
   font-weight: bold;
}

.gred{
   color: #F02018;
   font-weight: bold;
}

.gyellow{
   color: #FABD05;
   font-weight: bold;
}

.ggreen{
   color: #32A750;
   font-weight: bold;
}

.gblue{
   color: #4084F4;
   font-weight: bold;
}

.blue{
   color: Darkblue;//#1170aa;
   font-weight: bold;
}

.grey{
   color:#4E4D50;
   font-weight: italic;
}






